*{
    padding: 0;
    margin: 0px;
    border: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button{
    width: 120px;
    height: 40px;
    background-color: #025;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
}

.curso{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 30px;
    border: 4px solid #888;
    border-radius: 7px;
    margin: 15px;
}

.selecionado{
    background-color: #800 !important;
    color: #fcc !important;
    border-color: #f00 !important;
}

.c1{
    background-color: #ccc;
    color: #444;
}

.c2{
    background-color: #444;
    color: #ccc;
}

.caixa{
    border: 4px solid #000;
    background-color: #eeee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
}

.btn_lixeira{
    width: 25px;
    height: 25px;
    cursor: pointer;
}